<footer class="footer">
  <div class="footer__tags">
      <h4>Tags</h4>
      <ul>
        {{ range $.Site.Taxonomies.tags.ByCount }}
          <li>
              <a href="{{ $.Site.BaseURL }}tags/{{ .Name }}"> {{ .Name }} <small class="tag_count">{{ .Count }}</small></a>
          </li>
        {{end}}
      </ul>
  </div>
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      <div class="copyright">
        <span>© {{ now.Year }} by <a href="http://tamasgal.com">Tamás Gál</a></span>
      </div>
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
